<form action="/search" method="GET"> 
  <label>
    CINEMA <br>
    IRONHACK
    <input type="text" name="artists">
  </label>

  <button type="submit" href="/movies/">Check the movies!</button>
</form> 