{{#each movie}}
<div class= "movie-details">
  <img src="{{this.image}}">
  <a class="goback" href="/movies">go back</a>
  <h1>{{this.title}}</h1>
  <h2>{{this.director}}</h2>
  <p>{{this.stars}}</p>


</div>
{{/each}}